@use '../../../shared/styles/variables' as *;

.card {
  @media (max-width: $breakpoint-md) {
    padding: $spacing-sm;
  }
}

.bookIcon {
  color: $color-success;
}

.clockIcon {
  color: $color-streak;
}

.trendingIcon {
  color: $color-primary;
}
